__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.vscode/
.env
__pycache__/
    admin/__pycache__/
    barbeiro/__pycache__/
    cliente/__pycache__/
    database/models/__pycache__/
    database/models/tabelas.py
  
Barbearia-JSON/
NOVAREGRADENEGOCIO.txt
WhatsApp Image 2025-06-18 at 19.24.04.jpeg
barbearia.drawio
barbearia.png
regra de negocio.txt
.idea/.gitignore
          .idea/Barbearia-JSON.iml
        .idea/inspectionProfiles/profiles_settings.xml
          .idea/misc.xml
       .idea/modules.xml
 .idea/vcs.xml
